<div ng-controller="databaseCtrl">
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="数据库">{{ mainTitle }}</h1>
            <span class="mainDescription">数据库</span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: INLINE EDIT EXAMPLE -->
<div class="container-fluid container-fullw">
    <div class="row">
        <div class="col-md-12">
            <input type=button class="btn btn-green  btn-sm"  value="新增"
                   ng-click="add()">
            <div>
                 <div class="table-responsive">
                    <table ng-table="tableParams" class="table">
                        <tbody ng-repeat="p in $data">
                        <tr id="tr{{p.id}}" ng-class-odd="'odd'" ng-class-even="'even'">
                            <td class="rowTd" data-title="'ID'"  sortable="'id'">{{p.id}}</td>
                            <td class="rowTd" data-title="'dbServer'"  sortable="'dbServer'">{{p.dbServer}}</td>
                            <td class="rowTd" data-title="'dbPort'"  sortable="'dbPort'">{{p.dbPort}}</td>
                            <td class="rowTd" >
                                <div class="pull-right margin-right-10">
                                <input type=button class="btn btn-primary  btn-sm" id="editRowBtn{{p.id}}" value="编辑"
                                       ng-click="setEditId(p.id)">
                                <input type=button class="btn btn-red  btn-sm"  value="删除"
                                       ng-click="delEditId(p.id)">
                                 </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <pagination total-items="records" ng-model="queryMap.pageCurrent" max-size="10" class="pagination-sm" boundary-links="true" rotate="false"
                                items-per-page="queryMap.pageSize" ng-change="pageChanged()" previous-text="上一页" next-text="下一页" first-text="首页" last-text="末页"></pagination>
                    <!--<pagination boundary-links="true" total-items="TotalProducts"-->
                    <!--items-per-page="PageSize" ng-change="pageChanged()"-->
                    <!--ng-model="CurrentPageNumber" class="pagination-lg"-->
                    <!--previous-text="Prev" next-text="Next" first-text="First"-->
                    <!--last-text="Last"></pagination>-->
                </div>
            </div>


        </div>
    </div>
</div>

<script type="text/ng-template" id="edit.html">
    <div class="modal-header">
        <h3 class="modal-title">编辑</h3>
    </div>
    <div class="modal-body">
        <div class="panel ">
            <div class="panel-body">
                <form role="form">
                    <input type="hidden"  ng-model="database.id" value="{{database.id}}">
                    <div class="form-group">
                        <label for="dbServer">
                            dbServer
                        </label>
                        <input type="text" class="form-control" id="dbServer" ng-model="database.dbServer" value="{{database.dbServer}}">
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok($event)">确定</button>
        <button class="btn btn-red" ng-click="cancel($event)">取消</button>
    </div>
</script>
</div>
<!-- end: INLINE EDIT EXAMPLE -->
